<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <!-- 配置默认的消费者 -->
    <bean class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" init-method="start"
          destroy-method="shutdown">
        <!--消费广播模式-->
        <property name="messageModel" value="BROADCASTING"/>
        <!-- 设置消费的组名 -->
        <property name="consumerGroup" value="PAGE_ITEM_CONSUMER"/>

        <property name="namesrvAddr" value="${namesrvAddr}"/>

        <!-- 设置消息监听器 -->
        <property name="messageListener" ref="pageMessageListener"/>

        <!--设置消息消费的顺序-->
        <property name="consumeFromWhere" value="CONSUME_FROM_LAST_OFFSET"/>

        <!-- 设置批量消费消息最大数量 -->
        <property name="consumeMessageBatchMaxSize" value="1"/>

        <property name="subscription">
            <map>
                <!-- 指定主题和标签 -->
                <entry key="PAGE_ITEM_TOPIC" value="*"/>
            </map>
        </property>

    </bean>

    <bean id="pageMessageListener" class="com.pinyougou.item.listener.PageMessageListener">
    </bean>
</beans>